:root {
    --primary-color: #ffc017;
    --mild-gray: #e5e3e3;
    --black: #191919;
    --green: #1a8917;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    line-height: 1.3;
}

.container {
    max-width: 1192px;
    width: 90%;
    margin: 0 auto;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#header {
    height: 75px;
    border-bottom: 1px solid #000;
    position: sticky;
    top: 0;
    z-index: 10;
}

#header .menu-container {
    display: flex;
    align-items: center;
}

#header .menu-item:not(:last-of-type) {
    margin-right: 25px;
}

#header .menu-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
}

#header .pill-black {
    color: #fff;
    display: block;
    border-radius: 60px;
    padding: 12px 20px;
    background-color: #000;
}

h1 {
    font-family: 'Spectral', serif;
    font-weight: 500;
    font-size: 11rem;
    margin-bottom: 30px;
    letter-spacing: -5px;
}

#microsoft-design {
    border: 1px solid var(--mild-gray);
}

#M {
    position: absolute;
    background-color: transparent;
    top: 0;
    bottom: 0;
    width: 550px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 20px;
}

#hero {
    height: 454.6px;
    background-color: var(--primary-color);
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    position: relative;
}

#hero .hero-sentence {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

#hero .pill-black {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    display: block;
    border-radius: 60px;
    padding: 12px 50px;
    background-color: #000;
    text-decoration: none;
    width: fit-content;
}

main {
    padding: 40px 0 20px;
    border-bottom: 1px solid var(--mild-gray);
    font-family: 'Roboto', sans-serif;
}

#articles .trending-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

#articles .trending {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin-left: 10px;
    font-weight: 500;
}

#articles .articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#articles .article {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
    flex-basis: calc(100% / 3 - 60px / 3);
}

#articles .number {
    color: var(--mild-gray);
    font-size: 3rem;
    font-weight: bold;
    margin-top: -10px;
}

#articles .auth-image {
    width: 100%;
    border-radius: 100%;
}

#articles .auth-image-container {
    width: 2rem;
    margin-right: 10px;
}

#articles .article-wrapper {
    margin-left: 20px;
}

#articles .author {
    display: flex;
    align-items: center;
}


#articles .author a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

#articles .author a:not(#art-6 a) {

    white-space: nowrap;
}

#articles .art-title a {
    font-size: 1.7rem;
    font-weight: bold;
    color: #000;
    margin: 20px 0;
    text-decoration: none;
}

#articles .datetime {
    margin-top: 5px;
    color: #6b6b6b;
    font-size: 1.3rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}

#other {
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
}

#other .container {
    display: flex;
}

#other .articles {
    flex-basis: 68%;
    font-family: 'Roboto', sans-serif;
    padding-right: 70px;
}

#other .author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#other .auth-image {
    width: 100%;
    border-radius: 100%;
}

#other .auth-image-container {
    width: 2rem;
    margin-right: 10px;
}

#other .article-wrapper {
    margin-left: 20px;
}

#other .author {
    display: flex;
    align-items: center;
}

#other .author a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

#other .art-title a {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin: 5px 0;
    text-decoration: none;
}

#other .subtitle h4 {
    font-size: 1.5rem;
    color: #6b6b6b;
    margin: 5px 0;
}

#other .datetime {
    display: flex;
    justify-content: space-between;
}

#other .datetime .left {
    color: #6b6b6b;
    font-size: 1.3rem;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.aside-footer-container {
    flex-basis: 32%;
}

#wrapper {
    position: sticky;
    top: 80px;
}


#aside h4 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#aside .blocks {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--mild-gray);
}

#aside .block-link {
    color: #6b6b6b;
    border: 1px solid var(--mild-gray);
    font-size: 1.5rem;
    padding: 8px 15px;
    margin: 5px;
    text-decoration: none;
}

#desktop-footer .footer-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

#desktop-footer .menu-link {
    color: #6b6b6b;
    text-decoration: none;
    font-size: 1.5rem;
}

#other .art-image {
    flex-basis: 180px;
}

#other .article {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

#other .int {
    flex-basis: calc(100% - 200px);
}

#art-1-img {
    background-image: url('../imgs/image08.jpeg');
    background-size: cover;
    background-position: center center;
}

#art-2-img {
    background-image: url('../imgs/image10.jpeg');
    background-size: cover;
    background-position: center center;
}

#art-3-img {
    background-image: url('../imgs/image12.png');
    background-size: cover;
    background-position: center center;
}

#art-4-img {
    background-image: url('../imgs/image14.png');
    background-size: cover;
    background-position: center center;
}

#art-5-img {
    background-image: url('../imgs/image16.jpg');
    background-size: cover;
    background-position: center center;
}

#art-6-img {
    background-image: url('../imgs/image18.jpeg');
    background-size: cover;
    background-position: center center;
}

#art-7-img {
    background-image: url('../imgs/image20.jpg');
    background-size: cover;
    background-position: center center;
}

.in {
    color: #6b6b6b;
    font-size: 1.5rem;
    font-weight: bold;

}

.gray-pill {
    background-color: var(--mild-gray);
    color: #6b6b6b;
    padding: 5px 10px;
    border-radius: 30px;
}

#load-more-stories {
    color: #6b6b6b;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 10px 15px;
    margin: 10px auto 50px;
    text-decoration: none;
    border: 1px solid #6b6b6b;
    width: fit-content;
    border-radius: 50px;
    display: none;
}

#aside-2 {
    display: none;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    border-bottom: 1px solid var(--mild-gray);
}

#aside-2 h4 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#aside-2 .blocks {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

#aside-2 .block-link {
    border: 1px solid var(--mild-gray);
    color: #6b6b6b;
    font-size: 1.5rem;
    padding: 8px 15px;
    margin: 5px;
    text-decoration: none;
}


@media screen and (max-width: 1226px) {
    #articles .article {
        flex-basis: calc(50% - 30px);
    }

    #M {
        width: 500px;
    }
}

@media screen and (max-width: 1120px) {
    #articles .article {
        flex-basis: calc(50% - 30px);
    }

    #M {
        width: 450px;
    }
}

@media screen and (max-width: 1034px) {
    #articles .article {
        flex-basis: calc(50% - 30px);
    }

    #M {
        width: 350px;
    }
}


@media screen and (max-width: 901px) {
    #aside-2 {
        display: block;
    }

    #M {
        display: none;
    }

    #load-more-stories {
        display: block;
    }

    #other .aside-footer-container {
        display: none;
    }

    #other .articles {
        flex-basis: 100%;
        padding-right: 0;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    #articles .article {
        flex-basis: calc(50% - 30px);
        gap: 20px;
    }


}

@media screen and (max-width: 811px) {
    #aside-2 {
        display: block;
    }

    #articles .article {
        flex-basis: calc(100% - 30px);
    }

    #load-more-stories {
        display: block;
    }

    #other .aside-footer-container {
        display: none;
    }

    #other .articles {
        flex-basis: 100%;
        padding-right: 0;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    

}


@media screen and (max-width: 730px) {
    #load-more-stories {
        display: block;
    }

    #M {
        display: none;
    }

    #aside-2 {
        display: block;
    }

    #other .aside-footer-container {
        display: none;
    }

    #other .articles {
        flex-basis: 100%;
        padding-right: 0;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    #articles .article {
        flex-basis: calc(100% - 30px);
    }

    #link-1,
    #link-2,
    #link-3 {
        display: none;
    }
}

@media screen and (max-width: 545px) {
    #load-more-stories {
        display: block;
    }

    #M {
        display: none;
    }

    #aside-2 {
        display: block;
    }

    #other .aside-footer-container {
        display: none;
    }

    #other .articles {
        flex-basis: 100%;
        padding-right: 0;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    #articles .article {
        flex-basis: calc(100% - 30px);
    }

    #link-1,
    #link-2,
    #link-3,
    #link-4 {
        display: none;
    }

    #hero h1 {
        font-size: 8rem;
    }

    #hero .hero-sentence {
        font-size: 2rem;
    }

    #M {
        display: none;
    }

    #other .art-image {
        flex-basis: 120px;
        height: 120px;
    }

    #other .int {
        flex-basis: calc(100% - 80px)
    }
}



@keyframes become-white {
    0% {
        background-color: var(--primary-color);
    }

    100% {
        background-color: #fff;
    }
}

@keyframes become-green {
    0% {
        background-color: #000;
    }

    100% {
        background-color: var(--green);
    }
}

@keyframes become-yellow {

    0% {
        background-color: #fff;
    }

    100% {
        background-color: var(--primary-color);
    }
}

@keyframes become-black {

    0% {
        background-color: var(--green);
    }

    100% {
        background-color: #000;
    }
}

.scrolled-down-header {
    animation: 1s ease-in-out forwards become-white;
}

.scrolled-up-header {
    animation: 1s ease-in-out forwards become-yellow;
}

.scrolled-down-pill {
    animation: 1s ease-in-out forwards become-green;
}

.scrolled-up-pill {
    animation: 1s ease-in-out forwards become-black;
}