/* You can add global styles to this file, and also import other style files */
@import "normalize";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

app-root {
  font-family: "Roboto", sans-serif;
}

app-header, app-form, app-todo, app-task {
  max-width: 1440px;
}

a {
  text-decoration: none;
}

button {
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
}
