<div *ngIf="!wData" class="bg-animated footer-bottom-logged d-flex align-items-center">
  <div class="container-sm text-center">
    <div class="fw-bold text-white margin-fix">
      <p class="display-2">Benvenuto.</p>
      <span class="display-5">Digita il nome di una città per vedere le previsioni meteo!</span>
    </div>
  </div>
</div>

<div *ngIf="wData" class="bg-animated">
  <div class="container-sm py-3">
    <h1 class="display-1 text-white text-center mb-4">{{ wData.city.name }}</h1>
    <div class="alert alert-info" role="alert">
      <p class="m-0">
        Oggi a {{ wData.city.name }} il sole sorge alle
        <strong>{{ wData.city.sunrise | date : "HH:mm:ss" }}</strong>
        e tramonta alle
        <strong>{{ wData.city.sunset | date : "HH:mm:ss" }}</strong> ({{
          wData.city.sunset | date : "zzzz"
        }})
      </p>
    </div>
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3"
        *ngFor="let item of wData.list; let i = index"
      >
        <div class="card">
          <h5 class="card-title card-header text-center" *ngIf="!i">Adesso</h5>
          <h5 class="card-title card-header text-center" *ngIf="i">
            {{ item.dt_txt | date : "dd/MM/y ore HH:mm" }}
          </h5>
          <div class="card-body">
            <div class="d-flex gap-3 align-items-center">
              <div class="icon-container">
                <img
                  [src]="getIconPath(item.weather[0].icon)"
                  alt="Icona Meteo"
                />
              </div>
              <p
                class="m-0"
                [innerHTML]="firstCapitalLetter(item.weather[0].description)"
              ></p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex gap-2 bg-pink">
              <i class="bi bi-thermometer min-temp"></i>
              <p class="m-0 min-temp">
                <strong>Temperature minime: </strong>{{ item.main.temp_min }} °C
              </p>
            </li>
            <li class="list-group-item d-flex gap-2 bg-green">
              <i class="bi bi-thermometer-high max-temp"></i>
              <p class="m-0 max-temp">
                <strong>Temperature massime: </strong
                >{{ item.main.temp_max }} °C
              </p>
            </li>
            <li class="list-group-item d-flex gap-2 bg-gray">
              <i class="bi bi-thermometer-sun press ms-1"></i>
              <p class="m-0 press">
                <strong>Pressione: </strong>{{ item.main.pressure }} hPa
              </p>
            </li>
            <li class="list-group-item d-flex gap-2 bg-cyan">
              <i class="bi bi-droplet-half hum"></i>
              <p class="m-0 hum">
                <strong>Umidità relativa: </strong>{{ item.main.humidity }} %
              </p>
            </li>
            <li class="list-group-item d-flex gap-2 bg-purple">
              <i class="bi bi-water sea-lev"></i>
              <p class="m-0 sea-lev">
                <strong>Altitudine: </strong>{{ item.main.sea_level }} s.l.m.
              </p>
            </li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
