.wrapper-2 {
  max-width: 1000px;
  width: 96%;
  padding: 5px 20px;
  margin: 25px auto;
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 15px;
}

.hidden {
  display: none;
}

.no-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.initial-height-home {
  min-height: calc(100vh - 183.28px - 101.44px - 112.65px + 1px);
}

.initial-height-completed {
  min-height: calc(100vh - 183.28px - 112.65px + 1px);
}

.initial-loader-height-home {
  min-height: calc(100vh - 183.28px - 112.65px + 20px);
}

.initial-loader-height-completed {
  min-height: calc(100vh - 183.28px + 20px);
}

.initial-todo-height-home {
  min-height: calc(100vh - 183.28px - 101.44px - 112.65px - 50px + 5px);
}

.initial-todo-height-completed {
  min-height: calc(100vh - 183.28px - 112.65px - 50px + 5px);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
