<app-form *ngIf="!onlyCompleted" (onAdd)="add($event)" [loading]="loadingForm"></app-form>
<div *ngIf="contentLoaded">
  <div *ngIf="!noTodos" [ngClass]="[initialTodoHeight, 'wrapper-2']">
    <h1>I miei task{{completati}}</h1>
    <div *ngFor="let task of todos">
      <app-task
        [task]="task"
        (onDelete)="deleteTask($event)"
        (onUpdate)="update($event)"
      ></app-task>
    </div>
  </div>
  <div *ngIf="noTodos" [ngClass]="[initialHeight, 'no-todo']">
    <div>Ooops! Nessun toDo presente.</div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader *ngIf="!contentLoaded" [ngClass]="[initialLoaderHeight, 'loader-container']"></app-loader>



