<footer id="footer">
  <p class="footer-text">
    Questa applicazione è stata realizzata a scopo di esercitazione e può essere
    fruita, distribuita e riprodotta liberamente senza obbligo di licenza.
  </p>
  <div class="footer-spacer"></div>
  <nav id="footer-nav>">
    <ul id="footer-menu">
      <li><a routerLink="">Todos</a></li>
      <li>&nbsp;| <a routerLink="/completed">Completati</a></li>
      <li>&nbsp;| <a routerLink="/readme-help">Guida all'uso</a></li>
    </ul>
  </nav>
</footer>
