@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}



.m-0 {
  margin: 0;
}

a {
  color: $white;
  font-size: 0.9rem;
  text-decoration: underline;
  transition: color 0.35s;
  &:hover {
    color: rgba(white, 0.8);
    text-decoration: underline;
  }
}

.h {
  height: 23.5px;
}

.gm-nav-link {
  font-size: 1.125rem;
  transition: color 0.35s;
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  .gm-nav-icon {
    color: $white;
    transition: color 0.35s;
  }
  &:hover {
    text-decoration: none;
    color: rgba($white, 0.75);
    .gm-nav-icon {
      color: rgba($white, 0.75);
    }
  }
}

.min-temp {
  color: $blue-400;
}

.max-temp {
  color: $red-400;
}

.press {
  color: $yellow-500;
}

.bg-pink {
  background-color: rgba($pink-100, 0.2);
}

.bg-green {
  background-color: rgba($green-100, 0.25);
}

.bg-gray {
  background-color: rgba($gray-200, 0.25);
}

.hum {
  color: $purple-400;
}

.bg-cyan {
  background-color: rgba($cyan-100, 0.25);
}

.bg-purple {
  background-color: rgba($purple-100, 0.25);
}

.sea-lev {
  color: $green-400;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 25px;
  @media screen and (min-width: 630px) {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: no-wrap;
    gap: 0;
  }
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.gm-nav-link-text {
  @media screen and (min-width: 1020px) {
    display: inline;
  }
  display: none;
}

.header-content-left {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  @media screen and (min-width: 630px) {
    flex-direction: row;
    flex-wrap: no-wrap;
  }
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.header-content-right {
  @media screen and (min-width: 426px) {
    align-self: center;
    margin: 0;
  }
  align-self: flex-end;
  margin-right: 15px;
}

.logo-container {
  .logo {
    width: 100%;
    height: auto;
  }

  width: 175px;
}

.gm-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  @media screen and (min-width: 790px) {
    gap: 25px;
  }
  gap: 10px;
}

.dropdown-symbol {
  font-size: 1rem;
  padding-top: 1px;
}

.gm-nav-icon {
  font-size: 1.5rem;
  color: white;
  margin-right: 5px;
}

.autocomplete {
  @media screen and (min-width: 300px) {
    width: 270px;
    font-size: 1rem;
  }
  padding: 4px;
  width: 225px;

}

