@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.m-0 {
  margin: 0;
}

.footer-link {
  color: $white;
  font-size: 0.9rem;
  text-decoration: underline;
  transition: color 0.35s;
  &:hover {
    color: rgba(white, 0.8);
  }
}

.h {
  height: 23.5px;
}

.gm-nav-link {
  font-size: 1.125rem;
  color: $white;
  transition: color .35s;
  display: flex;
  gap: 5px;
  align-items: center;
  .gm-nav-icon {
    color: $white;
    transition: color .35s;
  }
  &:hover {
    color: rgba($white, .75);
    .gm-nav-icon {
      color: rgba($white, .75);
    }
  }
}
