<div class="favourites-container py-3" *ngIf="gotUser && gotWeather">
  <h1 class="display-1 text-white text-center mb-4">Preferiti</h1>
  <div class="card mb-3" *ngFor="let fav of favourites; let i = index">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex gap-3 align-items-center fit-content">
          <a class="fav-link" [routerLink]="['/my-gmeteo', fav.id]"><strong>{{ fav.cityName }}</strong></a>
          <div class="icon-container">
            <img
              [src]="getIconPath(favouritesWeathers[i].weather[0].icon)"
              alt="Icona Meteo"
            />
          </div>
          <p
            class="m-0"
            [innerHTML]="
              firstCapitalLetter(favouritesWeathers[i].weather[0].description)
            "
          ></p>
        </div>
        <a class="del-link" (click)="removeFromFavourites(fav.id)"><i class="bi bi-trash3-fill"></i></a>
      </div>
    </div>
  </div>
</div>
