.logo-container {
  background-image: linear-gradient(to bottom, rgba(44, 44, 147, 1), rgba(44, 44, 147, .3));
  text-align: center;
  padding: 20px 0;
}

.logo {
  @media screen and (min-width: 355px) {
    width: 300px;
  }
  width: 96%;
  height: auto;
}
