<div class="header-content">
  <div class="header-content-left">
    <div class="brand">
      <div class="logo-container">
        <img src="../../../assets/logo-brand.png" alt="gMeteo Brand Logo" class="logo">
      </div>

    </div>
  </div>
  <div class="header-content-right">
    <nav id="logged-nav">
      <ul class="gm-nav">
        <li class="gm-nav-item"><a href="" class="gm-nav-link"></a></li>
        <li class="gm-nav-item"><a routerLink="" (click)="logOut()" class="gm-nav-link">Logout</a></li>
      </ul>
    </nav>
  </div>
</div>
