<div class="header-content">
  <div class="header-content-left">
    <div class="brand">
      <div class="logo-container">
        <a routerLink="/">
        <img
          src="../../../assets/logo-brand.png"
          alt="gMeteo Brand Logo"
          class="logo"
        />
      </a>
      </div>
    </div>
    <div *ngIf="!favourite">
      <app-autocomplete></app-autocomplete>
    </div>
  </div>
  <div class="header-content-right">
    <nav id="logged-nav">
      <ul class="gm-nav">
        <li class="gm-nav-item" *ngIf="wData" [ngClass]="[addFadeOut, addFadeIn, addDNone]">
          <a (click)="addToFavourites()" class="gm-nav-link">
            <span class="gm-nav-icon">
              <i class="bi bi-heart"></i>
            </span>
            <span class="gm-nav-link-text">Aggiungi ai preferiti</span>
          </a>
        </li>
        <li class="gm-nav-item" *ngIf="wData" [ngClass]="[delFadeOut, delFadeIn, delDNone]">
          <a (click)="removeFromFavourites()" class="gm-nav-link">
            <span class="gm-nav-icon">
              <i class="bi bi-heart-fill"></i>
            </span>
            <span class="gm-nav-link-text">Rimuovi dai preferiti</span>
          </a>
        </li>
        <li class="gm-nav-item" *ngIf="favourite">
          <a routerLink="/my-gmeteo" class="gm-nav-link">
            <span class="gm-nav-icon">
              <i class="bi bi-brightness-high-fill"></i>
            </span>
            <span class="gm-nav-link-text">my-gMeteo</span>
          </a>
        </li>
        <li class="gm-nav-item">
          <a routerLink="/favourites" class="gm-nav-link">
            <span class="gm-nav-icon">
              <i class="bi bi-arrow-through-heart-fill"></i>
            </span>
            <span class="gm-nav-link-text">I miei preferiti</span>
          </a>
        </li>
        <li class="gm-nav-item">
          <a routerLink="" (click)="logOut()" class="gm-nav-link">
            <span class="gm-nav-icon">
              <i class="bi bi-box-arrow-left"></i>
            </span>
            <span class="gm-nav-link-text">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
