<div [ngClass]="['task', active, editing]">
  <div class="task-element">
    <div class="content">
      <div #taskContent [ngClass]="['task-content', editTextStyle]">{{task.title}}</div>
      <div class="date-info">data e ora eccc</div>
    </div>
  </div>
  <div class="buttons">
    <button class="del-btn" (click)="deleteTask()">
      <app-delete-icon></app-delete-icon>
    </button>
    <button class="edit-btn" #editBtn (click)="edit()">
      <app-edit-icon></app-edit-icon>
    </button>
    <button class="complete-btn" (click)="complete()">
      <app-complete-icon></app-complete-icon>
    </button>
    <button class="save-btn" *ngIf="editMode" (click)="save()">
      <app-save-icon></app-save-icon>
    </button>
    <div class="spacer" *ngIf="!editMode"></div>
    <div class="loader-container">
      <app-loader *ngIf="loading"></app-loader>
    </div>
  </div>
</div>
