@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin: 18px 0;
  border: 1px solid purple;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(213, 184, 213, 0.2);
  width: 100%;
}

.date-info-item {
  @media screen and (min-width: 550px) {
    display: inline;
  }
  display: block;
}
.dot-space {
  @media screen and (min-width: 550px) {
    display: inline;
  }
  display: none;
}

.date-info {
  color: rgb(108, 107, 107);
  font-size: 0.75rem;
  @media screen and (min-width: 550px) {
    font-size: 0.8rem;
  }
  position: relative;
  bottom: -6px;
  font-weight: bold;
  margin: 0;
}

.active {
  background-color: rgba(83, 136, 83, 0.15);
}

.editing {
  background-color: rgba(235, 235, 160, 0.4);
}

.task-content {
  font-family: "Hedvig Letters Serif", serif;
  margin: 0;
  font-size: 0.9rem;
  @media screen and (min-width: 550px) {
    font-size: 1rem;
  }
}

.edit-text-style {
  font-style: italic;
}

.buttons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.del-btn {
  background-color: rgba(172, 31, 31, 0.5);
  transition: background-color 0.35s;
  padding-top: 6px;
  &:hover {
    background-color: rgba(172, 31, 31, 0.35);
  }
}

.edit-btn {
  background-color: rgba(198, 210, 67, 0.5);
  transition: background-color 0.35s;
  &:hover {
    background-color: rgba(198, 210, 67, 0.15);
  }
}

.save-btn {
  background-color: rgba(31, 127, 172, 0.5);
  transition: background-color 0.35s;
  padding-top: 6px;
  &:hover {
    background-color: rgba(31, 127, 172, 0.35);
  }
}

.complete-btn {
  background-color: rgba(45, 172, 31, 0.5);
  transition: background-color 0.35s;
  padding-top: 6px;
  &:hover {
    background-color: rgba(45, 172, 31, 0.35);
  }
}

.redo-btn {
  background-color: rgba(213, 184, 213, 0.5);
  transition: background-color 0.35s;
  padding-top: 6px;
  &:hover {
    background-color: rgba(213, 184, 213, 0.35);
  }
}

.cancel-btn {
  background-color: rgba(205, 152, 162, 0.5);
  transition: background-color 0.35s;
  padding-top: 6px;

  &:hover {
    background-color: rgba(205, 152, 162, 0.35);
  }
}

.spacer {
  width: 10px;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  height: 30px;
  width: 28px;
}

button:disabled {
  cursor: not-allowed;
  background-color: rgb(202, 202, 202);
  &:hover {
    background-color: rgb(202, 202, 202);
  }
}

.loader-container {
  width: 25px;
  height: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
