.loader {
animation: 1s linear infinite loading;
width: 25px;
height: 25px;
img {
  width: 100%;
}
}

.loader-wrapper {
  height: calc(100vh - 52.4px - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loading{
  from {
    transform: rotate(0);
  }
  to {
    transform:rotate(360deg)
  }
}
