<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container-md">
    <div class="row text-white">
      <div class="col-12 col-md-6 pe-md-4">
        <div class="mb-3">
          <label for="name" class="form-label">Nome *</label>
          <input
            type="text"
            [ngClass]="{
              'form-control': true,
              'is-valid': isValid('name'),
              'is-invalid': isInvalid('name')
            }"
            id="name"
            formControlName="name"
          />
          <div class="valid-feedback">Ok</div>
          <div class="invalid-feedback">{{ errorMsg.name }}</div>
          <div
            [ngClass]="{ h: true, 'd-none': form.controls['name'].dirty }"
          ></div>
        </div>
        <div class="mb-3">
          <label for="surname" class="form-label">Cognome *</label>
          <input
            type="text"
            [ngClass]="{
              'form-control': true,
              'is-valid': isValid('surname'),
              'is-invalid': isInvalid('surname')
            }"
            id="surname"
            formControlName="surname"
          />
          <div class="valid-feedback">Ok</div>
          <div class="invalid-feedback">{{ errorMsg.surname }}</div>
          <div
            [ngClass]="{ h: true, 'd-none': form.controls['surname'].dirty }"
          ></div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail *</label>
          <input
            type="text"
            [ngClass]="{
              'form-control': true,
              'is-valid': isValid('email'),
              'is-invalid': isInvalid('email')
            }"
            id="email"
            formControlName="email"
          />
          <div class="valid-feedback">Ok</div>
          <div class="invalid-feedback">{{ errorMsg.email }}</div>
          <div
            [ngClass]="{ h: true, 'd-none': form.controls['email'].dirty }"
          ></div>
        </div>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Numero di telefono</label>
          <input
            type="text"
            [ngClass]="{
              'form-control': true,
              'is-valid': isValid('phoneNumber'),
              'is-invalid': isInvalid('phoneNumber')
            }"
            id="phoneNumber"
            formControlName="phoneNumber"
          />
          <div class="valid-feedback">Ok</div>
          <div class="invalid-feedback">{{ errorMsg.phoneNumber }}</div>
          <div
            [ngClass]="{
              h: true,
              'd-none': form.controls['phoneNumber'].dirty
            }"
          ></div>
        </div>
      </div>
      <div class="col-12 col-md-6 ps-md-4">
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Data di nascita</label>
          <input
            type="date"
            [ngClass]="{
              'form-control': true,
              'is-valid': isValid('dateOfBirth'),
              'is-invalid': isInvalid('dateOfBirth')
            }"
            id="dateOfBirth"
            formControlName="dateOfBirth"
          />
          <div class="valid-feedback">Ok</div>
          <div class="invalid-feedback">{{ errorMsg.dateOfBirth }}</div>
          <div
            [ngClass]="{
              h: true,
              'd-none': form.controls['dateOfBirth'].dirty
            }"
          ></div>
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Genere *</label>
          <select
            class="form-select cursor-pointer"
            id="gender"
            aria-describedby="gender"
            formControlName="gender"
          >
            <option value="M" class="px-2">Uomo</option>
            <option value="F" class="px-2">Donna</option>
          </select>
          <div class="valid-feedback">Ok</div>
          <div class="invalid-feedback">{{ errorMsg.gender }}</div>
          <div
            [ngClass]="{ h: true, 'd-none': form.controls['gender'].dirty }"
          ></div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password *</label>
          <input
            type="password"
            [ngClass]="{
              'form-control': true,
              'is-valid': isValid('password'),
              'is-invalid': isInvalid('password')
            }"
            id="password"
            formControlName="password"
          />
          <div class="valid-feedback">Ok</div>
          <div class="invalid-feedback">{{ errorMsg.password }}</div>
          <div
            [ngClass]="{ h: true, 'd-none': form.controls['password'].dirty }"
          ></div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Conferma password *</label
          >
          <input
            type="password"
            [ngClass]="{
              'form-control': true,
              'is-invalid': unmatch,
              'is-valid': !unmatch
            }"
            id="ConfirmPassword"
            formControlName="confirmPassword"
          />
          <div class="invalid-feedback">{{ errorMsg.confirmPassword }}</div>
          <div
            [ngClass]="{
              h: true,
              'd-none': form.controls['confirmPassword'].dirty
            }"
          ></div>
        </div>
      </div>
    </div>
    <button class="w-200px btn btn-lg btn-primary" type="submit">
      Registrati
    </button>
  </div>
</form>
