@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Poppins:wght@400;700&display=swap');

/* IMPOSTAZIONI GENERALI */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 400;
    background-image: url(../img/sfondo.png);
}

a {
    color: #4499c4;
}

ul:not(.menu),
ol {
    list-style-position: inside;
    margin-left: 40px;
}

ul:not(.menu) {
    list-style-type: disc;
}

ol {
    list-style: decimal;
    padding-left: 18px;
}

ol li {
    text-indent: 1em;
}

h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 25px;
}

h2 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

strong {
    font-weight: 700;
}

/* MARGINI E PADDING */

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-28 {
    margin-top: 30px;
}

.mb-28 {
    margin-bottom: 30px;
}

.pt-32 {
    padding-top: 32px;
}

.pb-32 {
    padding-bottom: 32px;
}

.mb-60 {
    margin-bottom: 60px;
}

.header-bg {
    background-image: linear-gradient(180deg, rgb(0, 160, 198), rgba(3, 109, 134, 1));
}

.container {
    margin: 0 auto;
    max-width: 93%;
}

/* COLORI */

.grey-100 {
    color: rgb(195, 195, 195);
}

.grey-300 {
    color: grey;
}

.grey-700 {
    color: rgb(67, 67, 67);
}

.purple {
    color: #9c2e70;
}

/* HEADER */

#header {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    box-shadow: 0 2px 10px 2px #515151;
}

header img {
    width: 250px;
}

#header a {
    color: white;
    text-decoration: none;
}

#header li:before {
    content: "⇒ ";
}

#header li:after {
    content: " ⇐";
}


/* MAIN */

#central-box {
    box-shadow: -1px 3px 6px 2px #515151;
    background-color: #fff;
    padding: 20px;
}

code {
    padding: 3px;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(67, 67, 67);
    border-radius: 6px;
    display: inline-block;
    margin: 3px;
}

/* TABELLA */

#table {
    width: 100%;
    border-bottom: 3px solid #5568b8;
}

#table caption {
    font-style: italic;
    font-weight: 400;
}

#table th {
    background-color: #5568b8;
    color: #fff;
    padding: 20px;
    vertical-align: bottom;
}

#table th:not(:last-of-type) {
    border-right: 1px solid #5978cb;
}

#table tr:nth-of-type(even) td {
    background-color: #eeeeee;
    border-top: 2px solid #e0e0e1;
    border-bottom: 2px solid #e0e0e1;
}

#table tr:nth-of-type(even):not(:last-of-type) td {
    border-right: 1px solid #f6f6f6;
}

#table td {
    padding: 20px;
    text-align: center;
}

#video {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

/* FORM */

#newsletter {
    padding: 20px;
    background-color: #e0dddf;
    font-size: 2.2rem;
    text-align: left;
}

#form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-wrapper input[type="email"] {
    font-size: 2.2rem;
    border: none;
    padding: 12px;
    border-bottom: 2px dashed #000;
    width: 260px;
}

#form-wrapper button {
    display: inline-block;
    width: 84px;
    background-color: #4a6dc6;
    font-size: 2.5rem;
    color: #fff;
    border: none;
    font-weight: 700;
    padding: 8px 10px;
    width: 120px;
}

/* ELEMENTI NELL' ASIDE */

.related-article {
    padding: 20px;
    background-color: #e0dddf;
    border: 2px solid #b4b2b2;
}

.related-article a {
    color: #4aa0c7;
    font-size: 2.1rem;
    font-weight: 700;
}

.related-article .category {
    font-size: 2.1rem;
}

.related-article .date {
    text-align: right;
}

/* FOOTER */

#footer {
    text-align: center;
    color: #fff;
    margin-top: 25px;
    background-image: linear-gradient(180deg, #275564, #313439);
    padding: 20px;
}

#footer .copyright {
    font-size: 1.7rem;
}

#footer address {
    font-size: 1.8re
}

#footer a {
    color: #e936f5;
}