.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 82.95px - 116.4px + 27px);
}

.login-card {
  background-color: rgba(#d3e1fc, .25);
  padding: 8px 20px 10px;
  text-align: center;
}

.position-fix {
  position: relative;
  top: -16px;
}
