.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-card {
  background-color: rgba(#d3e1fc, .5);
  padding: 8px 20px 10px;
  text-align: center;
  margin: 0 20px;
}

.position-fix {
  position: relative;
  top: -16px;
}
