form {
  padding: 35px 0;
  display: flex;
  align-items: center;
}

input[type="text"] {
  font-size: 1.1rem;
  padding: 4px;
  margin-right: 3px;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: azure;
}
