.form {
  padding: 35px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

input[type="text"] {
  font-size: 1.1rem;
  padding: 4px;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(44, 44, 147, .3);
  position: relative;
  box-shadow: 0px 3px 10px -7px black;
}

.new-task-label {
  margin-right: 8px;
  font-size: 1.15rem;
}
